/* move special fonts to HTML head for better performance */
/*@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');
*/

/* custom template */
html, body {
    height: 100%;
    font-family:'Open Sans',arial,sans-serif;
}

a {
    color:#222222;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url('images/body-bg.png');
    background-size:cover;
    background-attachment:fixed;
}

.divider {
  margin-top:32px;
}

#main {
    background-color:#fefefe;
}
#main .img-circle {
    margin-top:18px;
    height:70px;
    width:70px;
}

#sidebar, #sidebar a {
    color:#ffffff;
    background-color:transparent;
    text-shadow:1px 0 1px #888888;
}

#sidebar li {
  font-size: 18px;
}

#sidebar {
    background-image: url('../images/mountain-trimmed.jpg');
    background-repeat: no-repeat;
    font-family: MuseoSlab-500, Georgia, sans-serif;
}

#sidebar-footer {
    position:absolute;
    bottom:5px;
}

#sidebar-footer a {
    font-size: 12px;
}

#footer {
  margin-bottom:20px;
}

.title {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.profile-image {
  max-width: 175px;
  max-height: 175px;
  display:block;
  margin:auto;
}

.project-image {
  max-width: 350px;
  max-height: 350px;
  display:block;
  margin:auto;
}

.underline {
  font-weight: bold;
  text-decoration: underline;
}

.social {
    width: 35px;
    height: 35px;
/*    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    transition: all ease 0.5s;*/
}

.social:hover {
    opacity: 0.7;
/*    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);*/
}

li:hover a {
    opacity:0.7;
    text-decoration: none;
}
h2:hover a {
    opacity:0.7;
    text-decoration: none;
}


/* bootstrap overrides */

h1,h2,h3 {
   font-family: MuseoSlab-500,Georgia,serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  /*font-weight:700;*/
  font-size: 24px;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}


/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    max-height:350px;
  }
}